body {
  background-color: beige;
}

p {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

button {
  padding: 5px;
}

#startStopButton {
  margin-right: 5px;
}
