body {
    background-color: beige;
}

p {
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

button {
    font-size: 24px;
    padding: 10px;
    margin-right: 5px;
}

#startStop {
    width: 75px;
}
